<div class="wrapper">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenavService.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <span>Mark</span>
    <span class="fill-remaining-space"></span>
    <span class="toolbar-button-placeholder"></span>
  </md-toolbar>

  <md-toolbar>
    <button md-icon-button (click)="router.navigate(['/dashboard'])">
      <md-icon>arrow_back</md-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <span>New Transaction</span>
    <span class="fill-remaining-space"></span>
    <span class="toolbar-button-placeholder"></span>
  </md-toolbar>

  <div class="content-30">
    <form>
      <md-select placeholder="Account">
        <md-option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</md-option>
      </md-select>
      <br>
      <md-select placeholder="Transaction Type" selected="expense">
        <md-option [value]="'expense'">Expense</md-option>
        <md-option [value]="'income'">Income</md-option>
      </md-select>
      <md-input-container>
        <span mdPrefix>$</span>
        <input mdInput type="number" placeholder="&nbsp;Amount" step="any">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description"></textarea>
      </md-input-container>
    </form>
  </div>

  <div class="error-message-container">
    <span class="error-message">{{errorMessage}}</span>
  </div>

  <button color="accent" md-raised-button [disabled]="true" (click)="submitTransfer()">Save</button>
</div>